@import "styles/variables.scss";
@import "styles/partials/_mixins.scss";

.landing{
    margin-top: -100px;
    background-image: url("/images/homelanding.png");
    background-color: rgba(19, 22, 22,  0.3);
    background-blend-mode: multiply;
    height: 40.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include mobile-breakpoint(){
        background-image: url("/images/homelandingmobile.png");
        background-position: 0 -65px;
        & > div{
            display: none;
        }
    }

    @include tab-breakpoint(){
        margin-top: 0;
    }

    @include mobile-breakpoint(){
        height: 363px;
    }
}