@import "styles/variables.scss";

@mixin mobile-breakpoint {
  @media (max-width: $mobile-breakpoint ){
    @content;
  }
}

@mixin tab-breakpoint {
  @media (max-width: $tab-breakpoint ){
    @content;
  }
}

@mixin action-button-states{
  &:hover{
    background-color: $dark-crayola;
    color: white;
    svg{
        fill: $dark-crayola;
        path{
            stroke: white;
        }
    }
}


&:active{
    background-color:white;
    color: $dark-crayola;
    svg{
        fill: white;
        path{
            stroke: $dark-crayola;
        }
    }
}
}
//   @include desktop() {
//     .grid {
//       width: 100%;
//       flex-direction: column;
//     }
//   }