@import "styles/variables.scss";
@import "styles/partials/_mixins.scss";


.menuitem{
    border: 1px solid #E2CBC6;
    padding: 1.5rem 1.25rem;
    display: flex;
    justify-content: space-between;
    line-height: 23.21px;
    @include mobile-breakpoint(){
        flex-direction: column;
        gap: 15px;
    }

    .price{
        color: $chestnut;
        font-size: 1.375rem;
        font-family: $bold-font;
        @include mobile-breakpoint(){
            margin-left: 25px;
        }
    }

    .index{
        font-family: $bold-font;
        font-size: 22px;
    }

    .text_wrapper{
        display: flex;
        gap: 14px;

        .content{
            .content__heading{
                font-family: $bold-font;
                font-size: 22px;
                text-transform: capitalize;
                @include mobile-breakpoint(){
                    line-height: 1.4em;
                }
                span{
                    font-size: 14px;
                }
            }
            .content__subheading{
                font-size: 18px;
                margin-top: 5px;
                font-family: $regular-font;
                color: $spanish-grey;
            }
        }
    }
}