@import "styles/variables.scss";
@import "styles/partials/_mixins.scss";


.about{
    display: flex;
    justify-content: center;
    gap: 10.8125rem;
    background-color: $dark-crayola;
    color: $silver;
    padding-top: 6.5625rem;
    padding-bottom: 7.1875rem;

    @include tab-breakpoint(){
        flex-direction: column;
        align-items: center;
        padding-top: 49px;
        padding-bottom: 71px;
        gap: 43px;
    }

    .logo{
        position: relative;
        width: 23.0625rem;
        height: 23.0625rem;
        @include mobile-breakpoint(){
            width: 174px;
            height: 174px;
        }
    }

    .textcontent{
        max-width: 37.375rem;
        line-height: 2.0625rem;
        font-family: $regular-font;
        font-size: 1.25rem;
        @include mobile-breakpoint(){
            max-width: 323px;
            font-size: 14px;
            line-height: 23px;
        }
        span:first-of-type{
            margin-bottom: 58px;
            display: inline-block;
            @include tab-breakpoint(){
                margin-bottom: 43px;
            }
        }
    }

}