// import the font file
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import 'fonts/css/spline-sans.scss';
@import './variables.scss';
@import "./partials/mixins";
// import the font file


* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;

  // // on tablets
  @media (max-width: $tab-breakpoint) {
    font-size: 14px;
  }

  // // on phones
  @media (max-width: $mobile-breakpoint) {
    font-size: 13px;
  }
}

#eventcomponent{
  .slick-slide > div{
    transition: margin $fast-transition-speed;
  }

  @include mobile-breakpoint(){
    .slick-active + .slick-slide > div {
      margin-left: -20px;
    }
    .slick-slide[data-index="0"] > div {
      margin-left: 0;
    }
  }

}
