// define font names
$variable-font: SplineSans-Variable;
$light-font: SplineSans-Light;
$regular-font: SplineSans-Regular;
$medium-font: SplineSans-Medium;
$semibold-font: SplineSans-SemiBold;
$bold-font: SplineSans-SemiBold;
// define font names


// define paddings for easy responsiveness
$padding-x: 10.714rem;
$mobile-padding-x: 24px;
$tab-padding-x: 7.142rem;
// define paddings for easy responsiveness


// define teh different colors to be used in the application
$dark-crayola: #131616;
$spanish-grey: #94918E;
$silver: #CAC8C7;
$jet-black: #3F3D3C;
$chestnut: #9D5340;
$mistyrose: #E2CBC6;
// define teh different colors to be used in the application


// define the mobile responsiveness breakdown
$mobile-breakpoint: 800px;
$tab-breakpoint: 1200px;
// define the mobile responsiveness breakdown

// define random variables
$fast-transition-speed: 300ms;
$medium-transition-speed: 500ms;
$slow-transition-speed: 1s;
// define random variables

// define the mixins to be used

// define the mixins to be used

